$font-stack: "Helvetica"
$text-color: #FFF
$text-color-secundary: #a6a6a6
$body-bg-color: #0e1922
$bg-color: #112636
$bg-color-secundary: #1d1d1d
$container-border-radius: 10px
$card-border-radius: 5px
$gradient: linear-gradient(90deg, #995052 0%, #d96831 100%)